<!--Left Side Bar-->
<div th:fragment="leftsidebar" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/index"> <i class="la la-tablet red"></i>
                    <span class="menu-title" data-i18n="nav.dash.main">Fresher</span>
                </a>
                <ul class="menu-content">
                    <li>
                        <a class="menu-item" href="/fresherList" data-i18n="nav.dash.ecommerce">
                            <i class="la la-list-alt red"></i>
                            <span class="menu-title text-bold-500" data-i18n="nav.cards.main">Fresher's List</span>
                        </a>
                    </li>
                    <li>
                        <a class="menu-item" href="/fresherCreate" data-i18n="nav.dash.crypto">
                            <i class="la la-user-plus yellow"></i>
                            <span class="menu-title text-bold-500" data-i18n="nav.cards.main">Add Fresher</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--Left Side Bar End-->